</body>

<footer id="footer">

    <a href="https://www.linkedin.com/in/naman-garg-a01b34200/">  <i class="footer-i fab fa-linkedin" href=""></i></a>
  <a href="https://www.facebook.com/profile.php?id=100028892232243"><i class="footer-i fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/namangarg0802/"><i class="bi bi-instagram"></i></a>
  <a href="https://mail.google.com/mail/u/0/#inbox"> <i class="footer-i fas fa-envelope"></i></a>
<p class="lead">© Copyright NAMAN GARG</p>

  </footer>

</html>
