<%- include('partials/header') %>

<div class="container ">



  <h1>Stone Paper Scissors</h1>
  <div class="images">
    <div class="dice">
      <p>Stone</p>
      <img class="img1" src="images/stone.png">
    </div>
    <div class="dice">
      <p>Paper</p>
      <img class="img1" src="images/paper.png">
    </div>
    <div class="dice">
      <p>Scissors</p>
      <img class="img1" src="images/scissor.png">
    </div>
      </div>
  <a href="/outcome" class="btn btn-light btn-lg press">play the game</a>
  </div>







  <%- include('partials/footer') %>
